
@{
    ViewBag.Title = "Create";
}

<h2>Create a New Color</h2>

<p>Please choose two colors</p>

<form action="/Color/Create" method="post">
    <p><strong>First Color</strong></p>
    @Html.TextBox("firstColor", null, htmlAttributes: new { @class = "form-control", type = "Color", placeholder = "#178C2A" })
    <p><strong>Second Color</strong></p>
    @Html.TextBox("secondColor", null, htmlAttributes: new { @class = "form-control", type = "Color", placeholder = "B4641D" })
    <br /><br />
    <div class="button">
        <button type="submit">Mix Colors</button>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <div class="square" style="background-color:#@ViewBag.color1"></div>
            <p>@ViewBag.color1</p>
        </div>
        <div class="col-sm-1" align="center">
            <p style="text-align: center">+</p>
        </div>
        <div class="col-sm-1">
            <div class="square" style="background-color:#@ViewBag.color2"></div>
            <p>@ViewBag.color2</p>
        </div>
        <div class="col-sm-1" align="center">
            <p style="text-align: center">=</p>
        </div>
        <div class="col-sm-1">
            <div class="square" style="background-color:#@ViewBag.color3"></div>
            <p>@ViewBag.color3</p>
        </div>
    </div>

</form>