
@{
    ViewBag.Title = "Create";
}

<h2>Create a New Color</h2>

<p>Please choose two colors</p>

<!-- Creates the form that the user is to choose the colors from, with the addition of squares to demonstrate the addition of the two
    colors visually-->
<form action="/Color/Create" method="post">
    <!--Labels and HTML helper methods, sets the name to first color, does not give it a default value, and adds html attributes setting the text box to
        be a popup box to choose colors from rather than a regular text box. Also gives it a placeholder value-->
    <p><strong>First Color</strong></p>
    @Html.TextBox("firstColor", null, htmlAttributes: new { @class = "form-control", type = "Color", placeholder = "#178C2A" })
    <p><strong>Second Color</strong></p>
    @Html.TextBox("secondColor", null, htmlAttributes: new { @class = "form-control", type = "Color", placeholder = "B4641D" })
    <br /><br />
    <div class="button">
        <button type="submit">Mix Colors</button>
    </div>

    <!--A grid to display the colors visually. Creates the squares using an overriden square class and an inline style tag that sets the 
        color of the square dynamically based on what is returned in the ViewBag-->
    <div class="row">
        <div class="col-sm-1">
            <div class="square" style="background-color:#@ViewBag.color1"></div>
            <p>@ViewBag.color1</p>
        </div>
        <div class="col-sm-1" align="center">
            <p style="text-align: center">+</p>
        </div>
        <div class="col-sm-1">
            <div class="square" style="background-color:#@ViewBag.color2"></div>
            <p>@ViewBag.color2</p>
        </div>
        <div class="col-sm-1" align="center">
            <p style="text-align: center">=</p>
        </div>
        <div class="col-sm-1">
            <div class="square" style="background-color:#@ViewBag.color3"></div>
            <p>@ViewBag.color3</p>
        </div>
    </div>
</form>